li {
  position: relative;

  .pokemon-details {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    top: 100%;
    left: 0;
    width: 300px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    z-index: 10;
  }

  img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
}

.card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
}

.card {
  position: relative; // Asegúrate de que la tarjeta tenga una posición relativa
  cursor: pointer;

  .favorite-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    z-index: 10; // Ajusta el z-index para que el ícono se superponga a otros elementos

    i.far {
      color: grey;
    }

    i.fas {
      color: red;
    }

    transition: opacity 0.3s ease;

    &[style*="opacity: 0"] {
      pointer-events: none; // Desactiva los eventos de clic solo cuando la opacidad es 0.
    }
  }

  .pokemon-details-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.9); // Fondo semitransparente
    justify-content: center;
    overflow: auto;
    font-size: 0.6rem;
    max-width: 90%;
}

  &:hover {
      background-color: #f7f7f7;
  }

  &.active {
      background-color: white;  // Color cuando los detalles están abiertos
  }
}

.caja {
  margin-top: 60px;
}
