<div *ngIf="pokemonDetails">

  <div *ngIf="pokemonDetails">
    <h4>Estadísticas</h4>
    <ul>
      <li *ngFor="let stat of pokemonDetails.stats">
        {{ stat.stat.name | titlecase }}: {{ stat.base_stat }}
      </li>
    </ul>
  </div>

  <div *ngIf="pokemonDetails">
    <h4>Tipos</h4>
    <ul>
      <li *ngFor="let type of pokemonDetails.types">
        {{ type.type.name | titlecase }}
      </li>
    </ul>
  </div>

  <div *ngIf="pokemonDetails">
    <h4>Habilidades</h4>
    <ul>
      <li *ngFor="let ability of pokemonDetails.abilities">
        {{ ability.ability.name | titlecase }}
      </li>
    </ul>
  </div>

  <div *ngIf="pokemonDetails">
    <p><strong>Altura:</strong> {{ pokemonDetails.height / 10 }} m</p>
    <p><strong>Peso:</strong> {{ pokemonDetails.weight / 10 }} kg</p>
  </div>
</div>
