<div *ngIf="pokemonDetails" class="p-2">
  <h2 class="text-center">{{ pokemonDetails.name | titlecase }}</h2>

  <div class="row mt-2">
      <div class="col-6 wyh">
          <strong>H:</strong> {{ pokemonDetails.height / 10 }}m
      </div>
      <div class="col-6 wyh">
          <strong>W:</strong> {{ pokemonDetails.weight / 10 }}kg
      </div>
  </div>

  <div class="mt-2">
      <h4>Stats</h4>
      <ul class="reduced">
          <li *ngFor="let stat of pokemonDetails.stats">
              {{ stat.stat.name | titlecase }}: {{ stat.base_stat }}
          </li>
      </ul>
  </div>

  <div>
      <h4>Type</h4>
      <ul class="list-inline reduced">
          <li class="list-inline-item" *ngFor="let type of pokemonDetails.types">
              {{ type.type.name | titlecase }}
          </li>
      </ul>
  </div>

  <div>
      <h4>Habilities</h4>
      <ul class="list-inline">
          <li class="list-inline-item" *ngFor="let ability of pokemonDetails.abilities">
              {{ ability.ability.name | titlecase }}
          </li>
      </ul>
  </div>
</div>
