<div *ngIf="pokemonDetails" class="p-3">
  <h2 class="text-center">{{ pokemonDetails.name | titlecase }}</h2>
  <div class="mt-2">
      <h4>Stats</h4>
      <ul class="reduced">
          <li *ngFor="let stat of pokemonDetails.stats">
            {{ stat.stat.name | titlecase }}: {{ stat.base_stat }}
          </li>
      </ul>
  </div>
  <div>
      <h4>Type</h4>
      <ul class="list-inline reduced">
          <li class="list-inline-item" *ngFor="let type of pokemonDetails.types">
              {{ type.type.name | titlecase }}
          </li>
      </ul>
  </div>
  <div>
      <h4>Habilities</h4>
      <ul class="list-inline">
          <li class="list-inline-item" *ngFor="let ability of pokemonDetails.abilities">
              {{ ability.ability.name | titlecase }}
          </li>
      </ul>
  </div>
</div>
