h2 {
  font-size: 0.8rem;
  margin-bottom: 0;
}

h4 {
  border-bottom: 1px solid gray;
  font-size: 0.6rem;
  margin-bottom: 0;
  font-weight: bold;
}

strong {
  font-size: 0.5rem;
}


.wyh {

  padding-right: 0px;
}

.reduced {
  margin-bottom: 5px;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}
